@model Company.Models.Department

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Отчество
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Возраст
            </th>
            <th>
                Серия
            <th>
                Номер
            </th>
            <th>
                Должность
            </th>
            <th>
                Отдел
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Empoyees)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>                   
                    @(DateTime.Now.Year - item.DateOfBirth.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocSeries)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.Name)
                </td>
                <td>
                    <a class="link-default action-edit" asp-action="Edit" asp-controller="Empoyees" asp-route-id="@item.Id">Редактировать</a> |
                    <a class="link-default action-details" asp-action="Details" asp-controller="Empoyees" asp-route-id="@item.Id">Подробнее</a> |
                    <a class="link-default action-delete" asp-action="Delete" asp-controller="Empoyees" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }

    </tbody>
</table>
