@model IEnumerable<Company.Models.Department>

<div class="content content-column">
    <p>
        <a class="link-default action-create" asp-action="Create">Добавить новый отдел</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentDepartment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentDepartment.Name)
                    </td>
                    <td>
                        <a class="link-default action-edit" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a class="link-default action-details" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a class="link-default action-delete" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>