@model IEnumerable<Company.Models.Empoyee>

<div class="content content-column">
    <p>
        <a class="link-default action-create" asp-action="Create">Добавить нового сотрудника</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Patronymic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    Возраст
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocSeries)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DocNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patronymic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @(DateTime.Now.Year - item.DateOfBirth.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocSeries)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DocNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        <a class="link-default action-edit" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                        <a class="link-default action-details" asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                        <a class="link-default action-delete" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

